.page.theme_dark {
   --background: rgba(0, 0, 40, 1);
   --body-image: url(../images/cover-image-dark.png);
   --accent-color: rgba(255, 0, 112, 1);
   --border-hover:rgba(255, 0, 112, 0.4);
   --border-focus: rgba(255, 0, 112, 1);
   --border-active-element:rgba(255, 0, 112, 1);
   --header-footer-title-color: rgba(219, 0, 255, 1);
   --text-background: rgba(255, 0, 112, 1);
   --font-title: rgba(0, 0, 40, 1);
   --font-title-accent: rgba(255, 0, 112, 1);
   --font-text:  rgba(241, 178, 206, 1);
   --shadow-link: rgba(255, 0, 112, 1);
   --link-border: rgba(241, 178, 206, 1);
}

.theme_dark .recording::after {
  display: block;
}

.theme_dark .recording::before {
  display: block;
}

@media (prefers-color-scheme: dark) {

  .page {
    --background: rgba(0, 0, 40, 1);
    --body-image: url(../images/cover-image-dark.png);
    --accent-color: rgba(255, 0, 112, 1);
    --border-hover:rgba(255, 0, 112, 0.4);
    --border-focus: rgba(255, 0, 112, 1);
    --border-active-element:rgba(255, 0, 112, 1);
    --header-footer-title-color: rgba(219, 0, 255, 1);
    --text-background: rgba(255, 0, 112, 1);
    --font-title: rgba(0, 0, 40, 1);
    --font-title-accent: rgba(255, 0, 112, 1);
    --font-text:  rgba(241, 178, 206, 1);
    --shadow-link: rgba(255, 0, 112, 1);
    --link-border: rgba(241, 178, 206, 1);
 }

  .theme_auto .recording::after {
    display: block;
  }
  
  .theme_auto .recording::before {
    display: block;
  } 
}