.page.theme_light {
   --background: rgba(255, 241, 247, 1);
   --body-image: url(../images/cover-image-light.png);
   --accent-color: rgba(255, 0, 112, 1);
   --color-text-border: rgba(53, 52, 48, 1);
   --header-button-border-color: rgba(0, 14, 46, 1);
   --header-title-color: rgba(255, 194, 230, 1);
   --paragraph-background: rgba(255, 141, 203, 1);
   --border-hover: rgba(50, 49, 45, 0.4);
   --main-text: rgba(241, 178, 206, 1);
   background-color: var(  --background);
   background: var(--body-image) no-repeat center / cover;
   background-attachment: fixed;
 }

 .theme_light .decorated-zone::after {
  border-left: 1px solid  var(--color-text-border);
  border-bottom: 1px solid var(--color-text-border);
}

.theme_light .decorated-zone::before {
  border-right: 1px solid var(--color-text-border);
  border-top: 1px solid var(--color-text-border);
}

.theme_light .header__theme-menu-button {
  color: var(--color-text-border);
}

.theme_light .header__theme-menu-button:hover {
  border-color: var( --border-hover);
}

.theme_light .header__theme-menu-button:focus-visible {
  border-block-end: solid 1px var( --header-button-border-color);
}

.theme_light .header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--color-text-border);
}

.theme_light .header__title {
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.theme_light .header__text {
  color: var(--color-text-border);
}

.theme_light .title-decor {
  background: var(--paragraph-background);
}

.theme_light .title {
  color: var(--color-text-border);
}

.theme_light .section__content__list__text {
  color: var(--color-text-border);
 }

.theme_light .text-link {
  text-shadow: 1px 1px 0 var(--paragraph-background);
}

.theme_light .text-link:hover {
  border-block-end: solid 1px var( --color-text-border);
}

.theme_light .text-link:focus-visible {
  border: solid 1px var( --color-text-border);
}

