.page {
  font-family: 'IBM Plex mono', monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  background-color: var(--background);
  background-image: var(--body-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  max-inline-size: 1024px;
  margin: auto;
}

.header {
  display: grid;
  position: relative;
  margin-block-end: 60px;
  height: 100vh;
  min-height: 668px;
}

.decorated-zone::after {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 20px;
  bottom: 20px;
  border-inline-start: 1px solid  var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.decorated-zone::before {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  right: 20px;
  top: 20px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.header__theme-menu {
  justify-self: center;
  padding-block-start: 20px;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-item {
  min-width: 70px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  border: 1px solid transparent;
  height: 26px;
  width: 100%;
  line-height: 18px;
  color: var(--accent-color);
}

.header__theme-menu-button:hover {
  border-color: var(--border-hover);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  border-block-end: solid 1px var(--border-focus);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--border-active-element);
}

.recording::after {
  content: 'rec';
  display: none;
  position: absolute;
  width: 33px;
  height: 26px;
  top: 20px;
  right: 48px;
  text-align: center;
  color: rgba(255, 0, 112, 1);
  line-height: 25px;
  text-transform: uppercase;
}

.recording::before {
  content: '';
  display: none;
  position: absolute;
  background-color: rgba(255, 0, 112, 1);
  border-radius: 50%;
  width: 9px;
  height: 9px;
  top: 28px;
  right: 28px;
  box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 1);
}

.header__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 129.53px;
  color: var(--header-footer-title-color);
  text-shadow: 4px 4px 0  rgba(255, 0, 112, 1);
  padding-block-start: 42px;
}

.header__text {
  width: 48%;
  min-height: 88px;
  justify-self: end;
  font-weight: 700;
  text-align: left;
  margin-inline-end: 19px;
  color: var(--font-title);
}

.title-decor {
  background: var(--text-background);
}

.container {
  padding-block-end: 61px;
  padding-inline: 20px;
}

.title {
  min-height: 23px;
  font-weight: 700;
  font-size: 18px;
  color: var(--font-title);
}

.title-accent {
  color: var(--font-title-accent);
}

.section:not(:last-child) {
  padding-block-end: 80px;
}

.section__cart-two-column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  gap: 12px;
}

.section__cart-three-column .section__cart__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.section__cart__text {
  padding-block-start: 10px;
  color: var(--font-text);
  
}

.title__special {
  margin-block-end: 20px;
}

.section__cart-three-column h2 {
  width: 32%;
}

h4.title {
  font-weight: 400;
}  

.section__cart-two-column p:not(:last-child) {
  padding-block-end: 20px;
}

.text-link {
  text-shadow: 1px 1px 0 var(--shadow-link);
  border: solid 1px transparent;
  cursor: pointer;
}

.text-link:hover {
  border-block-end: solid 1px var(--link-border);
}

.text-link:focus-visible {
  border: solid 1px var(--link-border);
}

.section__list {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "sunset sunset ice-cream"
  "tape books ice-cream"
  "tape street street"
}

.section__list-item-sunset {
  grid-area: sunset;
}

.section__list-item-ice-cream {
  grid-area: ice-cream;
}

.section__list-item-tape {
  grid-area: tape;
}

.section__list-item-books {
  grid-area: books;
}

.section__list-item-street {
  grid-area: street;
}

.section__picture {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  height: 100vh;
  min-height: 668px;
  position: relative;
  display: flex;
}

.footer__title {
  margin: auto;
  padding: 0;
}

@media (max-width: 768px) {

  .container {
    padding-block-end: 60px;
  }

 .header__theme-menu {
    align-self: end;
    justify-self: end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    padding-inline-end: 20px;
    padding-block-start: 35px;
  }

  .header__title {
    padding-block-start: 22px;
  }

  .header__text {
    padding-block-end: 45px;
    width: 47.5%;
  }
  
  .section__cart-two-column {
    gap: 20px;
  }
  
  .section__cart-three-column .section__cart__content {
    grid-template-columns: auto;
  }

  .section__list {
    grid-template-rows: 192px 230px 318px;
  }

  .footer__title {
    padding: 0;
  }
}

@media (max-width: 495px) {

  .decorated-zone::before {
    right: 10px;
    top: 10px;
  }

  .decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }

  .header {
    margin-block-end: 40px;
    padding-inline: 10px;
  }

  .recording::before {
    width: 11px;
    height: 11px;
    top: 17px;
    right: 17px;
  }

  .recording::after {
    top: 10px;
    right: 38px;
  }

  .header__theme-menu {
    align-self: end;
    padding: 0;
  }

  .header__theme-menu-list {
    padding-inline-end: 5px;
    padding-block-start: 17px;
  }

  .header__title {
    line-height: 95.7px;
    padding-block-start: 10px;
  }

  .header__text {
    padding-block-end: 8px;
    width: 100%;
    margin-inline-end: 0;
  }

  .container {
    padding-block-end: 40px;
    padding-inline: 0;
  }

  .section:not(:last-child) {
    padding-block-end: 50px;
  }

  .section {
    padding-inline: 10px;
  }

  .section__cart-two-column {
    grid-template-columns: auto;
  }

  .section__cart-three-column h2 {
    width: 100%;
  }

  .section__picture h2 {
    margin-block-end: 10px;
  }

  .section__list {
    gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: 142px 355px 237px 355px 237px;
    grid-template-areas:
        "sunset"
        "ice-cream"
        "tape"
        "books"
        "street";
  }
}






