
.page {
  --background-: rgba(255, 241, 247, 1);
  --body-image: url(../images/cover-image-light.png);
  --accent-color: rgba(255, 0, 112, 1);
  --color-text-border: rgba(53, 52, 48, 1);
  --header-button-border-color: rgba(0, 14, 46, 1);
  --header-title-color: rgba(255, 194, 230, 1);
  --paragraph-background: rgba(255, 141, 203, 1);
  --border-hover: rgba(50, 49, 45, 0.4);
  --main-text: rgba(241, 178, 206, 1);
}

